<div class="content">
  <div class="data-wrapper">
    <div class="grid-balanco-semestre grid-item">
      <div class="header_table">
        <p class="titulo_table">Resumo ultimos meses</p>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Mes">
          <th mat-header-cell *matHeaderCellDef>Mês</th>
          <td mat-cell *matCellDef="let element">{{ element.Mes }}</td>
        </ng-container>
        <ng-container matColumnDef="TotalRecebido">
          <th mat-header-cell *matHeaderCellDef>Total Recebido</th>
          <td mat-cell *matCellDef="let element">{{ element.TotalRecebido }}</td>
        </ng-container>
        <ng-container matColumnDef="TotalGasto">
          <th mat-header-cell *matHeaderCellDef>Total Gasto</th>
          <td mat-cell *matCellDef="let element">{{ element.TotalGasto }}</td>
        </ng-container>
        <ng-container matColumnDef="TotalEconomizado">
          <th mat-header-cell *matHeaderCellDef>Total Economizado</th>
          <td mat-cell *matCellDef="let element">
            {{ element.TotalEconomizado }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="grid-ultimas-transacoes grid-item">
      <div class="header_table">
        <p class="titulo_table">Útilmas Transações</p>
        <button class="btn_registrarTransacao">Registrar Transação</button>
      </div>
      <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
        <ng-container matColumnDef="Data">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let element">{{ element.Data }}</td>
        </ng-container>
        <ng-container matColumnDef="Tipo">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let element">{{ element.Tipo }}</td>
        </ng-container>
        <ng-container matColumnDef="Valor">
          <th mat-header-cell *matHeaderCellDef>Valor</th>
          <td mat-cell *matCellDef="let element">{{ element.Valor }}</td>
        </ng-container>
        <ng-container matColumnDef="Descricao">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let element">{{ element.Descricao }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
      </table>
    </div>
  </div>
  <aside class="resumo-wrapper">
    <div class="resumo-mensal">
      <div class="titulo">
        <h2 class="titulo_resumo">Resumo Mensal</h2>
      </div>
      <div class="dados_resumo">
        <label for="recebimentos_resumo" class="item_resumo">Recebimentos</label>
        <p id="recebimentos_resumo">R$ 5000,00</p>
        <label for="gastos_resumo" class="item_resumo">Gastos</label>
        <p id="gastos_resumo">R$ 3400,00</p>
        <label for="total_resumo" class="item_resumo">Restante</label>
        <p id="total_resumo">R$ 1600,00</p>
      </div>
      <div class="ver_resumos">
        <button class="btn_verResumos">Ver Resumos</button>
      </div>
    </div>
  </aside>
</div>
