<div class="content">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/images/logo.svg" alt="Logo"/>
        </div>
        <div class="menu-wrapper">
            <div class="menu">
                <div class="menu-item">
                    <a class="selected" href="#">Início</a>
                </div>
                <div class="menu-item">
                    <a href="#">Registrar Transação</a>
                </div>
                <div class="menu-item">
                    <a href="">Relatórios</a>
                </div>
                <div class="menu-item">
                    <a href="">Metas</a>
                </div>
            </div>
        </div>
    </div>
</div>